---
import Layout from '../layouts/Layout.astro';
import { playlists } from '@/lib/data';
import PlaylistItemCard from '@/components/PlaylistItemCard.astro'
import Header from '@/components/Header.astro'

---

<Layout title="Thiking About You">

	<div id="playlist-container" class="relative transition-all duration-1000 bg-blue-600">
        <!-- PageHeader -->
        <div class="relative z-10 px-6 pt-10">
            <!--Greetings -->
            <Header />
            <div class="flex flex-warp mt-6 gap-4">
                { playlists.map(playlist => <PlaylistItemCard playlist={playlist} />) }
            </div>
        </div>

        <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-[1]"></div>
    </div>
</Layout>

<style>

</style>