---
import Wave from '@/icons/Wave.astro'
---

<div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 w-full h-full">
    <Wave />
    <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80">
        <h1 class="text-6xl font-bold text-center">Thiking about You</h1>
    </div>
</div>